body{
font-family: SFProDisplay-Regular;
}
@font-face {
font-family: SF-Medium;
src: url(../../assets/css/SFProDisplay-Medium.ttf);
}
@font-face {
font-family: Helvetica-Bold;
src: url(../../assets/css/Helvetica-Bold.ttf);
}
@font-face {
font-family: Helvetica;
src: url(../../assets/css/Helvetica.ttf);
}
@font-face {
font-family: SFProDisplay-Regular;
src: url(../../assets/css/SFProDisplay-Regular.ttf);
}
.dropdown__menu>li>a{
      padding: 10px 15px !important;
}
.navbar__main .navbar-header button{
      border: 1px solid #000;
    margin-top: 25px;
}
.navbar__main .navbar-header button span{
  background: #000;
} 
.navbar__main{
margin-bottom: 0;
position: fixed;
width: 100%;
background: #fff;
z-index: 111;
box-shadow: 0 0 10px 0px #a9a9a9;
border-radius: 0;
}
.navbar__brand {
width: 180px;
display: inline-table;
padding: 0;
}
.navbar__brand img{
width: 100%;
padding: 5px 0;
}
.navbar__right li a{
font-size: 16px;
padding: 35px 15px;
color: #000;
}
.banner img{
width: 100%;
}
.banner{
position: relative;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ban.jpg");
background-position: center;
background-size: cover;
height: 100vh;
}
.banner table{
border: 0 none;
border-radius: 50%;
display: table-cell;
left: 0;
margin: 0 auto;
top: 50%;
position: absolute;
right: 0;
text-align: left;
vertical-align: middle;
}
.banner__content{
color: #fff;
}
.banner__content h1{
font-family: Helvetica-Bold;
line-height: 55px;
font-size: 50px;
text-transform: uppercase;
width: 800px;
}
.banner__content h4{
text-transform: uppercase;
}
/*Services*/
.top__padding{
padding: 50px 0;
}
.site-heading h2 {
display: block;
font-weight: 700;
margin-bottom: 10px;
text-transform: uppercase;
position: relative;
padding-bottom: 10px;
}
.site-heading h2::before {
background: #f6e001 none repeat scroll 0 0;
bottom: 0;
content: "";
height: 2px;
left: 50%;
margin-left: -25px;
position: absolute;
width: 50px;
}
.site-heading h2 span {
color: #f6e001;
}
.site-heading h4 {
display: inline-block;
padding-bottom: 20px;
position: relative;
text-transform: capitalize;
z-index: 1;
}
.site-heading h4::before {
background: #f6e001 none repeat scroll 0 0;
bottom: 0;
content: "";
height: 2px;
left: 50%;
margin-left: -25px;
position: absolute;
width: 50px;
}
.site-heading {
margin-bottom: 60px;
overflow: hidden;
margin-top: -5px;
padding-top: 20px;
}
.features-items,
.features-items .items-box {
overflow: hidden;
}
.features-area .equal-height::after {
background: #e7e7e7 none repeat scroll 0 0;
content: "";
height: 100%;
position: absolute;
right: -1px;
top: 0;
width: 1px;
}
.features-area.item-full .equal-height::before {
background: #e7e7e7 none repeat scroll 0 0;
content: "";
height: 1px;
position: absolute;
bottom: -1px;
right: 0;
width: 100%;
}
.features-area .features-items .col-md-5,
.features-area .features-items .col-md-7 {
display: table-cell;
float: none;
vertical-align: middle;
}
.features-area .features-items.reversed .col-md-5,
.features-area .features-items.reversed .col-md-7 {
display: inline-block;
float: left;
}
.features-area .features-items.reversed .info-box {
float: right;
}
.features-area .features-items .item {
padding: 15px 30px;
}
.features-area.item-full .features-items .item {
padding: 30px;
}
.features-area .features-items .item h4 {
position: relative;
}
.features-area.bottom-small {
padding-bottom: 25px;
}
.features-area.default-padding.bottom-none {
padding-bottom: 30px;
}
.features-area .item .icon {
margin-bottom: 20px;
}
.features-area .item .info {
}
.features-area .item .icon i {
background: #ffffff none repeat scroll 0 0;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
-moz-box-shadow: 0 0 10px #cccccc;
-webkit-box-shadow: 0 0 10px #cccccc;
-o-box-shadow: 0 0 10px #cccccc;
box-shadow: 0 0 10px #cccccc;
color: #f6e001;
display: inline-block;
font-size: 30px;
height: 100px;
line-height: 100px;
position: relative;
text-align: center;
width: 100px;
z-index: 1;
}
.features-area .features-items .items-box i {
background: transparent;
}
.features-area .item .icon {
margin-bottom: 25px;
}
.features-area .features-items.icon-solid i {
border-radius: inherit;
-moz-box-shadow: 0 0 10px #cccccc;
-webkit-box-shadow: 0 0 10px #cccccc;
-o-box-shadow: 0 0 10px #cccccc;
box-shadow: 0 0 10px #cccccc;
color: #f6e001;
display: inline-block;
font-size: 50px;
height: 80px;
line-height: 80px;
position: relative;
text-align: center;
width: 80px;
}
.features-area .item .info h4 {
font-weight: 600;
text-transform: capitalize;
font-size: 20px;
}
.features-area .item .info p {
margin: 0;
}
.features-area .features-items.less-icon .items-box.inc-cell .item .info {
padding-left: 0;
}
.features-area .features-items .items-box.inc-cell .item .info a {
color: #666666;
display: inline-block;
margin-top: 15px;
text-transform: uppercase;
}
.features-area .features-items .items-box.inc-cell .item .info a:hover {
color: #f6e001;
}
.icon img{
width: 30%;
}
/*Services*/
/*About*/
.about__content .text-center{
    margin: 0;
    text-align: left;
}
.about__content .text-center h2{
    margin: 0;
}
.about__content .site-heading h2::before {
    background: #f6e001 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 8%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}
.about__section{
background: #f1f1f1;
}
.about__img img{
    width: 100%;
    border-radius: 0;
    border: 0;
    height: 370px;
    object-fit: cover;
    object-position: left;
}
.about__content p{
text-align: justify;
font-size: 16px;
padding-top: 10px;
}
.about__name{
      font-weight: bold;
}
/*About*/
/*Contact*/
.contact__sec{
padding: 50px 0;
background: #323232;
color: #fff;
}
.contact__title{
font-weight: bold;
margin-bottom: 45px;
}
.contact__title h2{
position: relative;
padding-bottom: 10px;
display: inline-block;
margin-bottom: 40px;
}
.contact__title h2::before {
background: #fff none repeat scroll 0 0;
bottom: 0;
content: "";
height: 2px;
left: 50%;
margin-left: -25px;
position: absolute;
width: 50px;
}
.section__text p{
margin: 15px 0px;
letter-spacing: 1px;
}
.section__text h4{
font-weight: bold;
letter-spacing: 1px;
}
.footer{
background: #000;
}
.footer p, .footer a{
margin: 0;
text-align: center;
padding: 10px 0px;
color: #fff;
letter-spacing: 1px;
}
/*About*/
/*Project*/
.what__block{
    box-shadow: 0 0 6px 0 #bababa;
    border-radius: 5px;
}
.what__content{
      padding: 5px 25px;
}




.project__sec{
padding:50px 0;
}
.what__block img{
width: 100%;
border-radius: 3px;
}
.what__block h3{
font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 20px;
}
.what__block p a{
color: #2b547e;
}
/*pROJECT*/
/*Commercial*/
.commercial__img
{
background-image: url(../images/3.png);
height: 385px;
background-size: cover;
position: relative;
/* font-family: SFProDisplay-Regular; */
background-position: center;
}
.commercial__img h1 {
position: absolute;
bottom: 0px;
display: inline-block;
background-color: #f6e001;
text-transform: uppercase;
font-size: 30px;
font-weight: 500;
color: #ffffff;
margin-bottom: 0px;
margin-top: 0px;
left: 7%;
padding: 15px 20px 15px 20px;
/* font-family: SFProDisplay-Regular; */
}
/* GAllery */
.grid figure {
position: relative;
float: left;
overflow: hidden;
background: #000000;
text-align: center;
cursor: pointer;
}
.grid figure img {
position: relative;
display: block;
min-height: 100%;
max-width: 100%;
opacity: 0.8;
margin: 0;
}
.grid figure figcaption {
padding: 2em;
color: #fff;
text-transform: uppercase;
font-size: 1.25em;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption>a {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.grid figure figcaption>a {
z-index: 1000;
text-indent: 200%;
white-space: nowrap;
font-size: 0;
opacity: 0;
}
.grid figure h2 {
word-spacing: -0.15em;
font-weight: 300;
}
.grid figure h2 span {
font-weight: 800;
}
.grid figure h2,
.grid figure p {
margin: 0;
}
.grid figure p {
letter-spacing: 1px;
font-size: 68.5%;
}
figure.effect-ravi {
background: #000000;
margin: 0;
}
.grid [class^="col"] {
padding: 2px;
}
figure.effect-ravi h2 {
font-size: 158.75%;
}
figure.effect-ravi h2,
figure.effect-ravi p {
position: absolute;
top: 50%;
left: 50%;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: translate3d(-50%, -50%, 0);
transform: translate3d(-50%, -50%, 0);
-webkit-transform-origin: 50%;
transform-origin: 50%;
}
figure.effect-ravi figcaption::before {
position: absolute;
top: 50%;
left: 50%;
width: 120px;
height: 120px;
border: 2px solid #fff;
content: '';
opacity: 0;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
-webkit-transform-origin: 50%;
transform-origin: 50%;
}
figure.effect-ravi p {
width: 100px;
text-transform: none;
font-size: 121%;
line-height: 2;
}
figure.effect-ravi p a {
color: #fff;
}
figure.effect-ravi p a:hover,
figure.effect-ravi p a:focus {
opacity: 0.6;
}
figure.effect-ravi p a i {
opacity: 0;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
}
figure.effect-ravi p a:first-child i {
-webkit-transform: translate3d(-60px, -60px, 0);
transform: translate3d(-60px, -60px, 0);
}
figure.effect-ravi p a:nth-child(2) i {
-webkit-transform: translate3d(60px, -60px, 0);
transform: translate3d(60px, -60px, 0);
}
figure.effect-ravi p a:nth-child(3) i {
-webkit-transform: translate3d(-60px, 60px, 0);
transform: translate3d(-60px, 60px, 0);
}
figure.effect-ravi p a:nth-child(4) i {
-webkit-transform: translate3d(60px, 60px, 0);
transform: translate3d(60px, 60px, 0);
}
figure.effect-ravi:hover figcaption::before {
opacity: 1;
-webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}
figure.effect-ravi:hover h2 {
opacity: 0;
-webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}
figure.effect-ravi:hover p i:empty {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
/* just because it's stronger than nth-child */
opacity: 1;
}
.comm__section{
padding:50px 0;
}
.carousel__control i{
position: absolute;
top: 50%;
z-index: 5;
display: inline-block;
margin-top: -10px;
}